body{
    margin: 0;
}

.box{
    width: 400px;
    height: 400px;
    margin: auto;
    background: red;
    /*position: relative;*/
    /*top: 200px;*/ /* this basically means that some one pushes the div from the top by 200px*/
    /*right: 200px;*/ /* some one pushing from the right*/
    left: 400px;
    bottom: 200px;
}