.container_12{
    background: red;
}

nav li{
    display: inline;
    margin-left: 0;
}

aside{
    background: green;
}

.primary{
    background: grey;
}

header{
    background: yellow;
    /*overflow: hidden;*/
}

.main{
    margin: 30px 0;
}

nav{
    background: orange;
}