body{
    background: grey;
}
.container{
    width:500px;
    margin:30px auto;
    background: white;
    padding:10px;
   
}

.form-row{
    padding:10px 0;
    display: flex;
}

.form-row label{
    padding-right:10px;
}

.form-row input{
    flex:1;
}

.col-layout{
    max-width: 1300px;
    line-height: 1.65;
    background: white;
    width:900px;
    margin:auto;
    padding: 10px;
    display: flex;
}

.main-col{
    flex:2;
    order:2;
}

.sidebar-one{
    flex:1;
    order:1;
}

.sidebar-two{
    flex:1;
    order:3;
}

.call-out-containers{
    max-width: 1400px;
    margin: 40px auto;
    display: flex;
    align-items:  center; 
}

.call-out{
    padding: 20px;
    margin-bottom: 20px;
    flex:1;
}

.call-out:nth-child(1){
    background-color: #c0dbe2;
}


.call-out:nth-child(2){
    background-color:#cdf1c3 ;
}


.call-out:nth-child(3){
    background-color:#ccb9da ;
}
