body{
    background: grey;
}
.container{
    width:500px;
    margin:30px auto;
    background: white;
    padding:10px;
   
}

.form-row{
    padding:10px 0;
    display: flex;
}

.form-row label{
    padding-right:10px;
}

.form-row input{
    flex:1;
}

.col-layout{
    max-width: 1300px;
    line-height: 1.65;
    background: white;
    width:900px;
    margin:auto;
    padding: 10px;
    display: flex;
}

.main-col{
    flex:2;
    order:2;
}

.sidebar-one{
    flex:1;
    order:1;
}

.sidebar-two{
    flex:1;
    order:3;
}

.call-out-containers{
    max-width: 1400px;
    margin: 40px auto;
     
    
}

@media(min-width:900px  ){
     .call-out-containers{
        display: flex;
        align-items:  stretch;
         justify-content: space-between;   /*left, right , center all three are pretty intresting*/
     }
}

.call-out{
    padding: 20px;
    margin-bottom: 20px;
    /*flex:1;*/
    flex-basis: 30%;
    box-sizing: border-box; 
    /*margin-right:  10px;*/
}

.call-out:last-child{
    margin-right: 0;
}

.call-out:nth-child(1){
    background-color: #c0dbe2;
}


.call-out:nth-child(2){
    background-color:#cdf1c3 ;
}


.call-out:nth-child(3){
    background-color:#ccb9da ;
}


.fixed-size-container{
    max-width: 1400px;
    margin:40px auto;
    background: #FFF;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}


.fixed-size{
    width: 150px;
    height: 100px;
    background-color: #990b47;
    color: #FFF;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 20px;
}

.banner{
    background-color:#2a2a2a;
    margin: 40px auto;    
    width:500px;
    height:500px;
    margin:auto;
    display: flex; 
}

.center-me{
    color:#FFF;
    font-size : 30px;
    margin: auto; 
}