body{
    width:800px;
    /*margin:auto;*/
    margin: 20px auto; /* top and bottom 20px and left and right is auto*/
    /*one of the short hand for margin is first arg for top adn bottom and the other left and right
    also the other short hands include top right bottom and left clockwise i.e
    if we put in aonly three values the missing value will be subsitute by its counter parts
    value, if you the counter part not to get that value then you will have to explicity mention 
    0 in the place
    */
    font-family: sans-serif;
}

a{
    /*color: green;*/
    color:#276056;
}

.meta a{
    font-style: italic;
}

.meta li:after{
    content: '|';
    padding:0 2px;
    color: #999;
}


.meta li:last-child{
    content:none;
}

.meta li{
    display: inline;
}
h2{
    font-size: 39px;
    /*line-height: 1em;*//*size of one letter m*/
    line-height: 43px;
}

article.article1 img{
    float: left;
    margin-right:30px;
}



.preview{
    float : right;
    width:350px;
}