.wrap{
    /*width : 850px;*/
    min-width:600px;
    width : 80%;
    margin: auto;
}
.content,aside{
    height : 600px;
}
.content{
    background-color: #0066FF; 
    float:left;
    width:90%;
}

aside{
    background-color:#e83a56;
    width:10%;
   float:left;/*can be floated to right*/
    
}

aside ul{
    padding-left:10;
    list-style:none;
}