form li{
    list-style: none;
    margin-bottom: 10px;
}

from ul{
    padding-left:0px;
}

label{
    display: block;/*to display label on diffrent line*/
}

textarea{
    width: 300px;
    height: 300px;
}